:root {
	--text-color-dark: rgb(40, 40, 40);
	--text-color-medium: rgb(65, 65, 65);
	--text-color-light: rgb(60, 60, 60);
	--underline-color: rgb(138, 138, 138);
	--accent-color: rgb(0, 162, 250);
}

@media print {
	@page {
		size: A4;
		margin: 10mm;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
		font-weight: 400;
		color: var(--text-color-medium);
		background: none;
	}

	.container {
		padding: 0;
		background: none;
	}

	/* Header */

	.cv-header {
		display: block;
		margin-bottom: 40px;
		padding: 0 24px;
		border-left: 6px solid var(--accent-color);
	}

	.cv-header__name {
		padding-top: 0;
		margin-bottom: 4px;
		font-size: 31px;
		line-height: 38px;
		color: var(--text-color-dark);
	}

	.cv-header__position {
		margin-top: 0;
		padding-top: 3px;
		margin-bottom: 16px;
		font-size: 20px;
		font-weight: 500;
		line-height: 37px;
		color: var(--text-color-dark);
	}

	.cv-header__contacts {
		margin: 0;
		padding: 0;
		border: 0;
		gap: 5px;
		background: none;
	}

	.contacts__list {
		gap: 18px;
	}

	/* Web version styles reset */

	.cv-header__pdf-link,
	.contacts__text {
		display: none;
	}

	.cv-header__content,
	.contacts__text--print {
		display: initial;
	}

	/* Main content */

	.cv__divider {
		display: initial;
		margin-top: 26px;
		margin-bottom: -26px;
		border: none;
		border-top: 1px solid var(--accent-color);
	}

	.cv__heading {
		padding-top: 35px;
		margin-bottom: 9px;
		font-size: 23px;
		line-height: 34px;
		color: var(--text-color-dark);
		border-bottom: 0;
	}

	.contacts__item,
	.cv__link,
	.cv__text,
	.cv__position,
	.cv__metadata-item,
	.cv__achievements {
		font-size: 16px;
		line-height: 1.5;
	}

	.cv__text,
	.cv__position {
		padding-top: 4px;
		margin-bottom: 8px;
		color: inherit;
	}

	.cv__job-info {
		display: flex;
		align-items: baseline;
		gap: 24px;
	}

	.cv__company {
		padding-top: 18px;
		margin-bottom: 8px;
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;
		color: var(--text-color-light);
	}

	.cv__metadata-item {
		padding-bottom: 0;
		color: var(--text-color-light);
	}

	.cv__metadata-item:not(:last-child) {
		padding-right: 0;
	}

	.cv__achievements {
		margin-top: 0;
		padding-top: 2px;
		margin-bottom: 8px;
		margin-left: 28px;
	}

	/* Links */

	.contacts__link,
	.cv__link {
		text-decoration: var(--underline-color) underline;
		border: 0;
	}
}

/* Utility */

.cv__flow-u {
	margin-top: 0;
}
