:root {
	--h1-color: rgb(40, 40, 40);
	--h2-color: rgb(40, 40, 40);
	--h3-color: rgb(60, 60, 60);
	--text-color: rgb(65, 65, 65);
	--underline-color: rgb(138, 138, 138);
	--border-color: rgb(214, 159, 193);
}

@media print {
	@page {
		size: A4;
		margin: 10mm;
	}

	body {
		margin: 0;
		font-family: Arial, sans-serif;
		font-size: 16px;
		line-height: 24px;
		color: var(--text-color);
		background: none;
	}

	.container {
		padding: 0;
		background: none;
	}

	/* Header */

	.header {
		display: block;
		margin-bottom: 26px;
		padding: 0 24px;
		border-left: 5px solid var(--border-color);
	}

	.header__title {
		margin-top: 0;
		margin-bottom: 4px;
		font-size: 31px;
		line-height: 38px;
		color: var(--h1-color);
	}

	.header__position {
		margin-top: 0;
		padding-top: 3px;
		margin-bottom: 13px;
		font-size: 23px;
		line-height: 37px;
		color: var(--h2-color);
	}

	.header__contacts-list {
		gap: 18px;
	}

	.header__link,
	.header__contacts-link-text {
		display: none;
	}

	.header__desc,
	.header__contacts-link-text--pdf {
		display: initial;
	}

	/* Body content */

	.main__divider {
		display: initial;
		margin-top: 26px;
		margin-bottom: -26px;
		border: none;
		border-top: 2px solid var(--border-color);
	}

	.main__title {
		margin-top: 0;
		padding-top: 35px;
		margin-bottom: 9px;
		font-size: 23px;
		line-height: 34px;
		color: var(--h2-color);
	}

	.main__text,
	.activity__position {
		padding-top: 4px;
		margin-bottom: 8px;
	}

	.activity__header-wrapper {
		gap: 24px;
	}

	.activity__place {
		margin-top: 0;
		padding-top: 18px;
		margin-bottom: 8px;
		line-height: 22px;
		font-size: 18px;
		color: var(--h3-color);
	}

	.activity__list {
		margin-top: 0;
		padding-top: 2px;
		margin-bottom: 8px;
		margin-left: 28px;
	}

	/* Elements */

	.header__link,
	.header__contacts-link,
	.main__link {
		color: var(--print-text-color);
		text-decoration: var(--underline-color) underline;
		border: 0;
	}
}
