:root {
	/* Theme colors */

	--color-base: hsl(41 82% 87%);
	--color-accent-primary: hsl(338 98% 80%);
	--color-accent-secondary: hsl(201 100% 49%);

	/* Text colors */

	--color-text-primary: hsl(161 2% 12%);
	--color-text-secondary: hsl(161 2% 17%);
	--color-text-tertiary: hsl(161 2% 26%);

	/* UI elements */

	--color-border: hsla(0, 0%, 16%, 0.073);
	--gradient-background: linear-gradient(
			90deg, var(--color-accent-primary) 0%,
			var(--color-base) 100%
	);

	/* Typography system */

	--font-family-base: "PT Sans", "Roboto", Arial, sans-serif;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* Typography scale */

	--font-size-xs: clamp(0.8125rem, 0.6345rem + 0.6329vw, 1.125rem);
	--font-size-sm: clamp(1rem, 0.7864rem + 0.7595vw, 1.375rem);
	--font-size-md: clamp(1.5625rem, 1.2421rem + 1.1392vw, 2.125rem);
	--font-size-lg: clamp(1.9375rem, 1.5103rem + 1.519vw, 2.6875rem);
	--font-size-xl: clamp(2.4375rem, 1.9035rem + 1.8987vw, 3.375rem);
	--font-size-2xl: clamp(3.8125rem, 2.9937rem + 2.9114vw, 5.25rem);

	/* Line heights */

	--leading-sm: clamp(16px, 11.443px + 1.0127vw, 24px);
	--leading-base: clamp(24px, 19.443px + 1.0127vw, 32px);
	--leading-lg: clamp(38px, 35.443px + 1.0127vw, 46px);
	--leading-xl: clamp(46px, 38.8861px + 2.0253vw, 62px);
	--leading-2xl: clamp(66px, 39.7975px + 5.8228vw, 112px);

	/* Spacing */

	--space-2xs: clamp(2px, 0.8608px + 0.2532vw, 4px);
	--space-xs: clamp(4px, 1.7215px + 0.5063vw, 8px);
	--space-sm: clamp(8px, 4.5823px + 0.7595vw, 14px);
	--space-md: clamp(22px, 9.4684px + 2.7848vw, 44px);
	--space-lg: clamp(15px, 4.1772px + 2.4051vw, 34px);
	--space-xl: clamp(27px, 11.6203px + 3.4177vw, 54px);

	/* Common patterns */

	--border-link: 3px solid var(--color-accent-secondary);
	--active-link: 3px solid var(--color-accent-primary);
	--border-radius-sm: 4px;
	--border-radius-lg: 15px;
}

/* Reset */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Base styles */

body {
	display: grid;
	min-height: 100vh;
	margin: 1.6em;
	font-family: var(--font-family-base);
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-regular);
	color: var(--color-text-primary);
	background: var(--color-base);
}

.container {
	max-width: 890px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.555em;
}

/* Print styles reset */

.cv__divider,
.contacts__text--print {
	display: none;
}

.cv__job-info {
	display: block;
}

/* Header */

.cv-header {
	display: flex;
	flex-direction: column;
}

.cv-header__name {
	margin-top: 0;
	margin-bottom: var(--space-sm);
	font-size: var(--font-size-2xl);
	font-weight: var(--font-weight-bold);
	line-height: var(--leading-2xl);
}

.cv-header__position {
	font-size: var(--font-size-lg);
	font-weight: var(--font-weight-medium);
	line-height: var(--leading-xl);
	color: var(--color-text-secondary);
}

.cv-header__pdf-link {
	display: inline-flex;
	align-items: center;
	padding: 0.5em 1em;
	margin-bottom: var(--space-xl);
	gap: .5625em;
	border: var(--border-link);
	border-radius: var(--border-radius-lg);
}

.cv-header__pdf-link::before {
	content: "";
	display: block;
	width: 1rem;
	height: 1rem;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWZpbGUtdGV4dCI+PHBhdGggZD0iTTE1IDJINmEyIDIgMCAwIDAtMiAydjE2YTIgMiAwIDAgMCAyIDJoMTJhMiAyIDAgMCAwIDItMlY3WiIvPjxwYXRoIGQ9Ik0xNCAydjRhMiAyIDAgMCAwIDIgMmg0Ii8+PHBhdGggZD0iTTEwIDlIOCIvPjxwYXRoIGQ9Ik0xNiAxM0g4Ii8+PHBhdGggZD0iTTE2IDE3SDgiLz48L3N2Zz4=")
		no-repeat;
	color: var(--color-text-primary);
}

.cv-header__contacts {
	display: flex;
	flex-direction: column;
	padding: 1.2em 1em;
	margin: var(--space-md) 0;
	gap: 1.135em;
	background: var(--gradient-background);
	border-radius: var(--border-radius-sm);
}

.contacts__list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: start;
	gap: 1.135em;
	list-style-type: none;
}

@media (width >= 610px) {
	.contacts__list {
		flex-direction: row;
	}
}

.contacts__item {
	position: relative;
	display: inherit;
	align-items: center;
}

/* Main content */

.cv {
	display: flex;
	flex-direction: column;
}

.cv__heading {
	--border-width: 2px;

	padding-top: var(--space-xl);
	padding-bottom: var(--border-width);
	margin-bottom: var(--space-xs);
	font-size: var(--font-size-xl);
	font-weight: var(--font-weight-semibold);
	line-height: var(--leading-xl);
	color: var(--color-text-secondary);
	border-bottom: var(--border-width) solid var(--color-border);
}

.cv__text {
	padding-top: var(--space-xs);
	margin-bottom: var(--space-xs);
	line-height: var(--leading-base);
}

.cv__metadata-item,
.cv__position {
	display: inline-flex;
	padding-top: var(--space-2xs);
	margin-bottom: var(--space-xs);
	font-size: var(--font-size-xs);
	line-height: var(--leading-sm);
	color: var(--color-text-tertiary);
}

.cv__position {
	margin-bottom: var(--space-sm);
}

.cv__company {
	padding-top: var(--space-md);
	margin-bottom: var(--space-lg);
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: var(--leading-lg);
	color: var(--color-text-secondary);
}

.cv__achievements {
	padding-top: var(--space-xs);
	margin-bottom: var(--space-xs);
	margin-left: 1.8em;
	line-height: var(--leading-base);
}

/* Links */

.cv-header__pdf-link,
.contacts__link,
.cv__link {
	text-decoration: none;
	color: var(--color-text-primary);
	border-bottom: var(--border-link);
}

.cv-header__pdf-link:hover {
	background-color: var(--color-accent-primary);
	border: var(--active-link);
}

.contacts__link:hover,
.cv__link:hover {
	background-color: var(--color-accent-primary);
	border-bottom: var(--active-link);
}

.cv-header__pdf-link:focus-visible,
.contacts__link:focus-visible,
.cv__link:focus-visible {
	outline: var(--border-link);
}

/* Animation */

@media (prefers-reduced-motion: no-preference) {
	.cv-header__pdf-link,
	.contacts__link,
	.cv__link {
		transition:
			background-color .15s ease-in-out,
			border-color .15s ease-in-out;
	}
}

/* Utility */

.cv__flow-u {
	margin-top: var(--space-md);
}
