{% extends "./layouts/base.njk" %}

{% block content %}
	<div class="main">
		<section class="main__section">
			{% for paragraph in cv.summary.paragraphs %}
				<p class="main__text">
					{{ paragraph }}
				</p>
			{% endfor %}
		</section>

		<hr class="main__divider">

		<section class="main__section" aria-labelledby="experience">
			<h2 class="main__title" id="experience">
				{{ cv.experience.title }}
			</h2>
			{% for job in ["last", "previous", "initial"] %}
				{% if cv.experience[job] %}
					<article class="activity">
						<header class="activity__header">
							<div class="activity__header-wrapper">
								<h3 class="activity__place">
									{{ cv.experience[job].company }}
								</h3>
								<div class="activity__details">
									<span class="activity__details-item">
										{{ cv.experience[job]["time period"] }},
									</span>
									<span class="activity__details-item">
										{{ cv.experience[job].location }}
									</span>
								</div>
							</div>
							<p class="activity__position">
								{{ cv.experience[job]["job title"] }}
							</p>
						</header>
						<ul class="activity__list">
							{% for achievement in cv.experience[job].achievements %}
								{% if achievement %}
									<li class="activity__list-item">
										{{ achievement }}
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					</article>
				{% endif %}
			{% endfor %}
		</section>

		<hr class="main__divider">

		<section class="main__section" aria-labelledby="skills">
			<h2 class="main__title" id="skills">
				{{ cv.skills.title }}
			</h2>
			{% for subgroup in ["skillset 1", "skillset 2", "skillset 3", "skillset 4", "skillset 5"] %}
				{% if cv.skills[subgroup] %}
					<p class="main__text">
						<b>{{ cv.skills[subgroup].name }}</b> {{ cv.skills[subgroup].set }}
					</p>
				{% endif %}
			{% endfor %}
		</section>

		<hr class="main__divider">

		<section class="main__section" aria-labelledby="education">
			<h2 class="main__title" id="education">
				{{ cv.education.title }}
			</h2>
			<article class="activity">
				<header class="activity__header">
					<div class="activity__header-wrapper">
						<h3 class="activity__place">
							{{ cv.education.place }}
						</h3>
						<div class="activity__details">
							<span class="details__item">{{ cv.education.year }},</span>
							<span class="details__item">{{ cv.education.location }}</span>
						</div>
					</div>
					<p class="activity__position">
						{{ cv.education.degree }}
					</p>
				</header>
			</article>
		</section>

		<hr class="main__divider">

		<section class="main__section" aria-labelledby="other">
			<h2 class="main__title" id="other">
				{{ cv.other.title }}
			</h2>
			{% for section in cv.other.sections %}
				<p class="main__text">
					<b>{{ section.name }}</b>
					{% set content = section.content | replace("\n", " ") %}
					{{ content | urlize | safe }}
				</p>
			{% endfor %}
		</section>
	</div>
{% endblock %}
