:root {
	--print-text-color: #343434;
	--print-underline-color: #515151;
	--print-decorative-color: hsl(0, 0%, 52%);
}

@media print {
	@page {
		size: A4;
		margin: 8mm;
		background: none;
	}

	body {
		margin: 0;
		font-size: 16px;
		line-height: 1.5;
		color: var(--print-text-color);
		background-image: none;
	}

	.container {
		padding: 0;
		border: 0;
	}

	/* Header */

	.header {
		padding-bottom: 16px;
		gap: 16px;
		border-bottom: 2px dashed var(--print-decorative-color);
	}

	.header__link {
		display: none;
	}

	.header__contacts-list {
		gap: 16px;
	}

	.header__contact-item:not(:last-of-type)::after {
		content: "|";
		position: absolute;
		top: 0;
		right: 0;
		margin: 0 -12px;
		color: var(--print-decorative-color);
	}

	.header__contact-link-pdf {
		display: initial;
	}

	.header__contact-link-site {
		display: none;
	}

	.header__desc {
		display: initial;
	}

	.header__title {
		font-size: 40px;
		line-height: 1.18;
	}

	.header__job {
		font-size: 23px;
	}

	.header__contacts-list,
	.main__job {
		page-break-inside: avoid;
		break-inside: avoid;
	}

	/* Body content */

	.main__text:not(:last-of-type) {
		padding-bottom: 7px;
	}

	.main__title {
		margin: 26px 0 14px;
		font-size: 23px;
		line-height: 1.263;
	}

	.main__job + .main__job {
		margin-top: 14px;
	}

	.main__job-header {
		gap: 50px;
		margin-bottom: 8px;
	}

	.main__job-title {
		font-size: 19px;
		line-height: 1.165;
	}

	.main__job-info {
		gap: 3px;
	}

	.main__job-info:before {
		content: "";
		position: absolute;
		top: 50%;
		left: -40px;
		width: 30px;
		height: 2px;
		background-color: var(--text-color);
	}

	.main__job-position {
		margin-bottom: 8px;
	}

	.main__job-list {
		margin-left: 16px;
	}

	/* Elements */

	.link {
		color: var(--print-text-color);
		text-decoration: initial;
		border-color: var(--print-underline-color);
		border-width: 1px;
	}
}
