:root {
	--background-color: #8d958a;
	--background-content-color: #b0b5ad;
	--text-color: #1f3726;
	--underline-color: #447b55;
	--decorative-color: hsla(138, 28%, 17%, 0.497);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	min-height: 100vh;
	margin: 30px;
	font-family: "IBM Plex Sans", sans-serif;
	font-size: clamp(1rem, 0.476vw + 0.869rem, 1.25rem);
	font-weight: 400;
	font-style: normal;
	line-height: 1.6;
	color: var(--text-color);
	background-image: url("./images/bg-pattern.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: var(--background-color);
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 2.5rem 1.875rem;
	background: var(--background-content-color);
	border-radius: 12px;
}

/* Header */

.header {
	display: flex;
	flex-direction: column;
	padding-bottom: 1.75rem;
	gap: 1rem;
	border-bottom: 2px dashed var(--decorative-color);
}

.header__contacts-list {
	display: inline-flex;
	align-content: space-between;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	gap: 1.125rem;
	list-style: none;
}

.header__contact-item {
	position: relative;
	display: inherit;
	align-items: center;
}

.header__contact-item:not(:last-of-type)::after {
	content: "|";
	position: absolute;
	top: 0;
	right: 0;
	margin: 0 -0.75rem;
	color: var(--decorative-color);
}

.header__desc {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.header__title {
	font-size: clamp(2.375rem, 1.19vw + 2.048rem, 3rem);
	line-height: 1.18;
	/* line-height: clamp(3.325rem, 2.81vw + 2.552rem, 4.8rem); */
}

.header__job {
	font-size: 1.437rem;
}

.header__pdf {
	display: inline-flex;
	align-items: center;
	margin-left: auto;
	gap: 0.25rem;
}

/* Body content */

.main {
	display: flex;
	flex-direction: column;
	/* gap: 1.875rem; */
}

.main__text:not(:last-of-type) {
	padding-bottom: 0.625rem;
}

.main__title {
	margin: 2.5rem 0 1.375rem;
	font-size: clamp(1.75rem, 1.19vw + 1.423rem, 2.375rem);
	line-height: 1.263;
	/* line-height: clamp(2.035rem, 1.837vw + 1.53rem, 3rem); */
}

.main__job + .main__job {
	margin-top: 1.125rem;
}

.main__job-header {
	display: flex;
	align-items: center;
	gap: 50px;
	margin-bottom: 8px;
}

.main__job-title {
	margin: 0;
	font-size: clamp(1.438rem, 1.19vw + 1.11rem, 2.063rem);
	font-weight: 400;
	line-height: 1.5;
	/* line-height: clamp(2.156rem, 1.786vw + 1.665rem, 3.094rem); */
}

.main__job-info {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 3px;
}

.main__job-info:before {
	content: "";
	position: absolute;
	top: 50%;
	left: -40px;
	width: 30px;
	height: 2px;
	background-color: var(--text-color);
}

.main__job-position {
	display: inline-block;
	margin-bottom: 8px;
}

.main__job-list {
	margin-left: 16px;
	padding: 0;
}

/* Elements */

.link {
	text-decoration: none;
	color: var(--text-color);
	border-bottom: 2px solid var(--underline-color);
}
